parameters:
    level: 0
    paths:
        - src
    excludePaths:
        - vendor
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#on an unknown class#'
        - '#unknown interface#'
        - '#invalid type#'
        - '#is not contravariant#'
        - '#should return.*but returns#'
        - '#Unsafe usage of new static#'
        - '#Parameter.*has invalid type#'
        - '#return type#'
        - '#has invalid type#'
